* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Comfortaa', cursive;
}

*::selection {
	background-color: rgba(208, 165, 70, .25);
}

h2 {
	text-align: center;
	font-size: 1.75em;
	line-height: 1.5em;
	letter-spacing: .5em;
	color: #D0A546;
}

h3 {
	line-height: 1.25em;
	font-size: 1.25em;
	color: #D0A546;
}

hr {
	width: 5%;
	height: 3px;
	background-color: #D0A546;
	border: none;
	margin: .5em auto;
}

p,
span {
	line-height: 1.5em;
	font-size: 1em;
	color: #303030;
}

a {
	text-decoration: none;
	color: #f5f5f5;
}

a.btn {
	background-color: #303030;
	padding: 1em;
	font-size: 1.25em;
	display: block;
	width: 25%;
	margin: 1em auto 0 auto;
	border-radius: .25em;
}

a.btn:hover {
	background-color: #D0A546;
	transition: .25s;
}

img {
	width: 100%;
}

img.icon {
	width: 2.5em;
}

.block {
	background: linear-gradient(90deg, #D0A546 40%, #303030 30%);
	text-align: center;
}

.wrapper {
	width: 85%;
	height: 85%;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 1.5em;
}

.cont > p {
	font-style: italic;
	width: 75%;
	margin: 1em auto;
}

.d-block {
	display: block;
}

.d-flex,
.items  {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.items {
	margin-top: 1.5em;
}

.item {
	margin: 0 1em;
}

.w-100 {
	width: 100%;
}

.loader {
	height: 100px;
	width: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
}
 
.loader:before,
.loader:after {
	content: "";
	height: 50px;
	width: 50px;
	border: 10px solid rgba(255,255,255, .5);
	border-radius: 10px;
	position: absolute;
	top: 15px;
	left: 15px;
}
 
.loader:before {
	animation: animate 5s infinite linear;
}
 
@keyframes animate {
	0% {
    	transform: rotate(0);
  	}
	
	25% {
  		transform: rotate(90deg);
  	}

	50% {
  		transform: rotate(180deg);
  	}

	75% {
  		transform: rotate(270deg);
  	}
   
  	100% {
    	transform: rotate(360deg);
  	}
}

.loader:after {
	animation: animate 1.5s infinite linear;
}

.loaderArea {
	background: linear-gradient(90deg, #D0A546 10%, #F9D423 90%);
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 100000;
}

.preview {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #D0A546;
	background-image: url(../img/bc.png);
}

.features .features-items {
	align-items: flex-start;
}

.features .features-items .features-item {
	width: 25%;
}

.projects .projects-items:last-child {
	margin-top: 1.25em;
}

.projects .projects-items:last-child .projects-item:last-child {
	opacity: 0;
	cursor: default;
}

.projects .projects-items .projects-item:hover,
.portfolio .portfolio-items .portfolio-item:hover {
	opacity: .75;
	transition: .25s;
}

.portfolio .portfolio-items:last-child {
	margin-top: .75em;
}

.portfolio .portfolio-items .portfolio-item {
	margin: 0 .5em;
}

.feedback input,
.feedback textarea {
	width: 75%;
	margin: 1.5em auto;
	display: block;
	padding: 1em;
	border: none;
	border-bottom: 3px solid #D0A546;
	font-size: 1em;
	color: #D0A546;
	background-color: transparent;
	text-align: left;
}

.feedback input[type="text"],
.feedback input[type="phone"] {
	width: 25%;
}

.feedback textarea {
	resize: none;
	height: 75px;
}

.feedback input[type="submit"] {
	width: 80%;
	background-color: #303030;
	color: #f5f5f5;
	border: none;
	text-align: center;
}

.feedback input[type="submit"]:hover,
.feedback input[type="submit"]:focus {
	background-color: #D0A546;
	cursor: pointer;
	transition: .25s;
}

/*.blog .blog-items .blog-item {
	background-color: #D0A546;
	text-align: left;
	overflow: hidden;
}

.blog .blog-items .blog-item:hover img {
	transform: scale(1.05);
	transition: .25s;
}

.blog .blog-items .blog-item h3 {
	color: #303030;
	margin-top: 1em;
	margin-bottom: .75em;
	margin: 0;
}*/

.footer {
	background-color: #303030;
	text-align: center;
}

.footer hr {
	margin: 1.5em auto;
}

.footer .social a {
	margin: 0 .5em;
	padding: .5em;
}

.footer .social a:hover {
	opacity: .75;
	transition: .25s;
}

.footer .social a img {
	border-radius: .5em;
}

.footer a.d-block {
	color: #f5f5f5;
	margin: .25em auto;
	font-size: 1.5em;
	padding: .25em;
}

.footer span {
	color: #f5f5f5;
	font-size: 1.5em;
	margin-bottom: .5em;
}

.footer span a {
	color: #D0A546;
}

.footer span a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	h2 {
		letter-spacing: .25em;
	}

	a.btn {
		width: 90%;
	}

	.d-flex,
	.items {
		flex-direction: column;
	}

	.item {
		width: 100% !important;
		margin: 0;
	}

	.wrapper {
		margin: 1em auto;
		width: 70% !important;
	}

	.cont > p {
		width: 90%;
	}

	.preview {
		padding: 25% 0;
	}

	.features .features-items .features-item,
	.projects .projects-items .projects-item,
	.portfolio .portfolio-items .portfolio-item {
		margin-top: 1.5em !important;
	}

	.projects .projects-items:last-child .projects-item:last-child {
		display: none;
	}

	.feedback input,
	.feedback textarea {
		margin: .5em auto;
	}

	.feedback input[type="text"],
	.feedback input[type="phone"] {
		width: 75%;
	}

	.feedback input[type="submit"] {
		margin-top: 1em;
		width: 100%;
	}

	.footer a.d-block {
		font-size: 1em;
	}

	.footer span {
		font-size: 1em;
	}
}